.nav-button {
	-fx-background-color: #D22030;
	-fx-border-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-underline: false;
}


.nav-button:hover {
	-fx-underline: true;
	-fx-text-fill: #F1F1F1;
}

.menu-button .menu-item {
	
	-fx-pref-height: 32px;
	-fx-padding: 6 16;
	-fx-pref-width: 200px; 
}

.menu-button .menu-item > .label {
    -fx-text-fill: black;
}



.menu-button .menu-item:hover {
	-fx-background-color: #F2F2F2;
	-fx-text-fill: black;
}

.menu-button {
    -fx-background-color: #D22030;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-underline: false;
}

.menu-button:hover {
    -fx-underline: true;
    -fx-text-fill: #F1F1F1;
}

.menu-button .label {
    -fx-text-fill: white;
    -fx-underline: false;
}

.menu-button:hover > .label {
    -fx-text-fill: #F1F1F1;
    -fx-underline: true;
}