.nav-button {
    -fx-background-color: #D22030;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-underline: false;
}


.nav-button:hover {
    -fx-underline: true;
    -fx-text-fill: #F1F1F1;
}

.cell-label {
	-fx-background-color: lightyellow;
}
